<article id="about" class="contentArticle">
    <section class="contentHeader container">
        <div class="row">
            <h2 class="contentTitle">Who we are & what we do</h2>
            <p class="contentDescription">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
            <h3 class="teamSubtitle">Meet the team</h3>
        </div>
    </section>
    <section class="contentItems">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="aboutItem">
                        <div class="img__outer">
                            <div class="img__inner">
                                <img src="assets/img/1st__general-manager.jpg" alt=" Anton Petrov - General manager" class="grayscaleAnimateFilter">
                            </div>
                        </div>
                        <h3 class="aboutTitle">Anton Petrov</h3>
                        <p class="aboutPosition">General manager</p>
                        <div class="socialWrapper">
                            <a href="https://www.facebook.com/" class="aboutSocialLink">&#xe741;</a>
                            <a href="https://twitter.com/" class="aboutSocialLink">&#xe74b;</a>
                            <a href="https://plus.google.com/" class="aboutSocialLink">&#xe73e;</a>
                            <a href="http://www.linkedin.com/" class="aboutSocialLink">&#xe735;</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="aboutItem">
                        <div class="img__outer">
                            <div class="img__inner">
                                <img src="assets/img/2nd__design-master.jpg" alt="Lilian Bonev - Design master" class="grayscaleAnimateFilter">
                            </div>
                        </div>
                        <h3 class="aboutTitle">Lilian Bonev</h3>
                        <p class="aboutPosition">Design Master</p>
                        <div class="socialWrapper">
                            <a href="https://www.facebook.com/" class="aboutSocialLink">&#xe741;</a>
                            <a href="https://twitter.com/" class="aboutSocialLink">&#xe74b;</a>
                            <a href="https://plus.google.com/" class="aboutSocialLink">&#xe73e;</a>
                            <a href="http://www.linkedin.com/" class="aboutSocialLink">&#xe735;</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="aboutItem">
                        <div class="img__outer">
                            <div class="img__inner">
                                <img src="assets/img/3rd__developer-ninja.jpg" alt="Kiril Donchev - Developer ninja" class="grayscaleAnimateFilter">
                            </div>
                        </div>
                        <h3 class="aboutTitle">Kiril Donchev</h3>
                        <p class="aboutPosition">Developer Ninja</p>
                        <div class="socialWrapper">
                            <a href="https://www.facebook.com/" class="aboutSocialLink">&#xe741;</a>
                            <a href="https://twitter.com/" class="aboutSocialLink">&#xe74b;</a>
                            <a href="https://plus.google.com/" class="aboutSocialLink">&#xe73e;</a>
                            <a href="http://www.linkedin.com/" class="aboutSocialLink">&#xe735;</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="aboutItem">
                        <div class="img__outer">
                            <div class="img__inner">
                                <img src="assets/img/4th__seo-guru.jpg" alt="Lazy Stamov - SEO guru" class="grayscaleAnimateFilter">
                            </div>
                        </div>
                        <h3 class="aboutTitle">Lazy Stamov</h3>
                        <p class="aboutPosition">SEO guru</p>
                        <div class="socialWrapper">
                            <a href="https://www.facebook.com/" class="aboutSocialLink">&#xe741;</a>
                            <a href="https://twitter.com/" class="aboutSocialLink">&#xe74b;</a>
                            <a href="https://plus.google.com/" class="aboutSocialLink">&#xe73e;</a>
                            <a href="http://www.linkedin.com/" class="aboutSocialLink">&#xe735;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>