<article id="contacts" class="contentArticle">
    <section class="contentHeader container">
        <div class="row">
            <h2 class="contentTitle">contact us</h2>
            <p class="contentDescription">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
        </div>
    </section>
    <section class="contentItems">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12 contentItem">
                    <h3 class="contactsTitle">Address</h3>
                    <address>
                        <div class="requisitesArea">
                            <div class="requisitesData">
                                <div class="organisation">
                                    <div class="name">Acrostia</div>
                                    <div class="data">Los Angeles</div>
                                </div>
                                <div class="address">
                                    <div class="name">Address:</div>
                                    <div class="data">1200 N Cahuenga Blvd</div>
                                </div>
                                <div class="phone">
                                    <div class="name">Phone:</div>
                                    <div class="data">+44 555 555 555</div>
                                </div>
                                <div class="fax">
                                    <div class="name">Fax:</div>
                                    <div class="data">+44 556 555 555</div>
                                </div>
                                <div class="email">
                                    <div class="name">E-mail:</div>
                                    <div class="data">info@acrostia.com</div>
                                </div>
                                <div class="skype">
                                    <div class="name">Skype</div>
                                    <div class="data">Acr0stia</div>
                                </div>
                            </div>
                            <div class="requisitesMap">
                                <div class="mapWrapper">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.0902189059184!2d-118.33037058538159!3d34.092829180594904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf3401f2867d%3A0xe5d966140f1d20d5!2s1200+N+Cahuenga+Blvd%2C+Los+Angeles%2C+CA+90038%2C+USA!5e0!3m2!1sen!2sua!4v1564920199920!5m2!1sen!2sua" width="100%" height="260px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </address>
                </div>
                <div class="col-xl-6 col-12 contentItem">
                    <h3 class="contactsTitle">Ask a quesion</h3>
                    <div class="feedbackArea">
                        <form>
                            <input type="text" name="Name" id="feedbackName" placeholder="Name">
                            <input type="text" name="E-mail" id="feedbackMail" placeholder="E-mail">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Your question"></textarea>
                            <div class="submitWrapper">
                                <input type="submit" value="send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="socialWrapper">
            <a href="https://www.facebook.com/" class="socialLink">&#xe741;</a>
            <a href="https://twitter.com/" class="socialLink">&#xe74b;</a>
            <a href="https://plus.google.com/" class="socialLink">&#xe73e;</a>
            <a href="http://www.linkedin.com/" class="socialLink">&#xe735;</a>
        </div>
    </footer>
</article>