<header id="header">
    <div class="mainMenu" role="menu">
        <div class="menuOpenBtn menuIcons noSelect">&#xe68e;</div>
    </div>
    <nav id="nav" role="navigation" class="navHide">
        <div class="navContainer">
            <div class="navRow">
                <div class="logo">
                    <a href="#slider">acrostia</a>
                    <div class="menuCloseBtn menuIcons noSelect">&#xe646;</div>
                </div>
                <div class="nav">
                    <a href="#slider" class="menuColor blue"><span>Home</span></a>
                    <a href="#services" class="menuColor red"><span>Services</span></a>
                    <a href="#about" class="menuColor purple"><span>About</span></a>
                    <a href="#portfolio" class="menuColor green"><span>Work</span></a>
                    <a href="#contacts" class="menuColor blue"><span>Contacts</span></a>
                </div>
            </div>
        </div>
    </nav>
    <section role="slider" id="slider">
        <div class="header__slider" id="sliderWrapper">
            <div class="item slide-1">
                <div class="slider-content-container">
                    <div class="slider-content-wrapper">
                        <div class="promo">
                            <h3><span>good ideas</span> <p>comes</p></h3>
                            <h1><strong>first!</strong></h1>
                        </div>
                    </div>
                </div>
                <img src="assets/img/slider-1.jpg" alt="Our good ideas">
            </div>
            <div class="item slide-2">
                <div class="slider-content-container">
                    <div class="slider-content-wrapper">
                        <div class="promo">
                            <h3><span>discussion</span> <p>creates</p></h3>
                            <h2><strong>best!</strong></h2>
                        </div>
                    </div>
                </div>
                <img src="assets/img/slider-2.jpg" alt="Team discussion">
            </div>
            <div class="item slide-3">
                <div class="slider-content-container">
                    <div class="slider-content-wrapper">
                        <div class="promo">
                            <h3><span>result</span> <p>looks</p></h3>
                            <h2><strong>great!</strong></h2>
                        </div>
                    </div>
                </div>
                <img src="assets/img/slider-3.jpg" alt="Inspiring results">
            </div>
        </div>
        <div class="sliderNav">
            <!-- noSelect - to remove blue outline in Android Chrome and similar brousers -->
            <div class="arrows prevArrow noSelect">&#xe64a;</div>
            <div class="arrows nextArrow noSelect">&#xe649;</div>
            <div class="dots-container">
                <!-- <div class="dots-wrapper"></div> -->
            </div>
        </div>
    </section>
</header>