<article id="portfolio" class="contentArticle">
    <section class="contentHeader container">
        <div class="row">
            <h2 class="contentTitle">our work</h2>
            <p class="contentDescription">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
            <h3 class="contentSubtitle portfolioTitle">portfolio</h3>
        </div>
    </section>
    <section class="portfolioNav">
        <div class="container">
            <div class="row portfolioLine">
                <nav class="sort" role="navigation">
                    <label for="sort">Sort</label>
                    <button type="button" data-sort="order:asc">Ascending</button>
                    <button type="button" data-sort="order:descending">Descending</button>
                    <button type="button" data-sort="random">Random</button>
                </nav>
                <nav class="categories" role="navigation">
                    <label for="categories">Categories</label>
                    <button type="button" data-filter="all">All</button>
                    <button type="button" data-filter=".photo">Photo</button>
                    <button type="button" data-filter=".logo">Logo</button>
                    <button type="button" data-filter=".web">Web</button>
                </nav>
            </div>
        </div>
    </section>
    <section class="contentItems">
        <div class="container">
            <div class="row portfolioCollection">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix web" data-order="1">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/web/Fitness.jpg" class="popup" alt="Fitness studio web design">
                            <h3 class="previewTitle">Fitness studio</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix photo" data-order="2">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/shots/4.jpg" alt="Honest beauty cosmetics line">
                            <h3 class="previewTitle">Honest beauty cosmetics</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix logo" data-order="3">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/logo/2.jpg" alt="Future Logo">
                            <h3 class="previewTitle">Future Logo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix web" data-order="4">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/web/Profile.jpg" alt="Profile website design">
                            <h3 class="previewTitle">Profile website</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix photo" data-order="5">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/shots/1.jpg" alt="Neon sign">
                            <h3 class="previewTitle">Neon sign</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix logo" data-order="6">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/logo/1.jpg" alt="Community logo">
                            <h3 class="previewTitle">Community logo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix logo" data-order="7">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/logo/3.jpg" alt="Light bulb logo">
                            <h3 class="previewTitle">Light bulb logo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix web" data-order="8">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/web/Pex.jpg" alt="Pex website design">
                            <h3 class="previewTitle">Pex website</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix web" data-order="9">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/web/Take.jpg" alt="Take website design">
                            <h3 class="previewTitle">Take website</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix photo" data-order="10">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/shots/2.jpg" alt="Chanel perfume">
                            <h3 class="previewTitle">Chanel perfume</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix photo" data-order="11">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/shots/3.jpg" alt="Bedroom design">
                            <h3 class="previewTitle">Bedroom design</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 contentItem mix logo" data-order="12">
                    <div class="portfolioItem">
                        <div class="previewWrapper">
                            <div class="portfolioImgCover">
                                <div class="portfolioZoom">&#xe61a;</div>
                            </div>
                            <img src="assets/img/logo/4.jpg" alt="Logo design">
                            <h3 class="previewTitle">Logo design</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>