<article id="services" class="contentArticle">
    <section class="contentHeader container">
        <div class="row">
            <h2 class="contentTitle">services</h2>
            <h3 class="contentSubtitle"> Cras commodo mattis justo nec lobortis. Nam ut tellus lobortis, ullamcorper massa sit amet</h3>
            <p class="contentDescription">Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.</p>
        </div>
    </section>
    <section class="contentItems">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="servicesItem">
                        <div class="svg__outer">
                            <div class="svg_inner">
                                <svg class="content__svg" width="70" height="85">
                                    <use xmlns:xlink="http://www.w3.org/2000/svg" xlink:href="assets/icons/services__icons.svg#light_bulb" x="0" y="0"></use>
                                </svg>
                            </div>
                        </div>
                        <h3 class="contentItemTitle">Researching</h3>
                        <p class="contentItemText">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="servicesItem">
                        <div class="svg__outer">
                            <div class="svg_inner">
                                <svg class="content__svg" width="67" height="67">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/services__icons.svg#magic_wand"></use>
                                </svg>
                            </div>
                        </div>
                        <h3 class="contentItemTitle">Design</h3>
                        <p class="contentItemText">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="servicesItem">
                        <div class="svg__outer">
                            <div class="svg_inner">
                                <svg class="content__svg" width="82" height="73">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/services__icons.svg#cogs"></use>
                                </svg>
                            </div>
                        </div>
                        <h3 class="contentItemTitle">Development</h3>
                        <p class="contentItemText">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-12 contentItem">
                    <div class="servicesItem">
                        <div class="svg__outer">    
                            <div class="svg_inner">
                                <svg class="content__svg" width="66" height="65">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/services__icons.svg#rocket"></use>
                                </svg>
                            </div>
                        </div>
                        <h3 class="contentItemTitle">Launch</h3>
                        <p class="contentItemText">Praesent interdum blandit quam. Asunt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>