// Font
$LatoThin               : 'Lato-Thin', Arial, sans-serif;
$LatoLight              : 'Lato-Light', Arial, sans-serif;
$LatoRegular            : 'Lato-Regular', Arial, sans-serif;
$LatoBold               : 'Lato-Bold', Arial, sans-serif;
$LatoBlack              : 'Lato-Black', Arial, sans-serif;
$Damion                 : 'Damion', Arial, sans-serif;
$themify                : 'themify';

// Size
$mainFontColor           : #101010;
$mainFontSize            : 20px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$smDesktopWidthWidth    : 1200px;
$smDesktopWidth         : 992px;
$tableWidth             : 768px;
$phoneWidth             : 576px;
$smPhoneWidth           : 320px;

// Main color
$default-color           : #ffffff;
$red                     : #b24a50;
$redHover                : #df5c64;
$redContent              : #c45158;
$redItemBgc              : rgba(196, 92, 98, 0.5);
$purple                  : #665464;
$purpleHover             : #91778e;
$purpleItemBgc           : rgba(77, 63, 75, 0.5);
$purpleBorder            : #a1859e;
$aboutTitle              : #c7b6c5;
$green                   : #81a256;
$greenLine               : #94b963;
$greenHover              : #a1ca6c;
$blue                    : #74c7d5;
$blueHover               : #82c8bd;
$facebook                : #4f689e;
$twitter                 : #74c7d5;
$google                  : #df5c64;
$linkedin                : #3e61af;
$sortButtonHover         : #f5c149;
$portfolioPreviewTitle   : #727272;
$portfolioPreviewHover   : rgba(61, 77, 41, 0.4);
$contactsName            : #c0dfda;
$formBgc                 : #68a097;
$formText                : #b5b5b5;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
